<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoOracle" class="com.yll.dao.impl.UserDaoOracleImpl"/>
    <bean id="userDaoMysql" class="com.yll.dao.impl.UserDaoMysqlImpl"/>
    <bean id="userDao" class="com.yll.dao.impl.UserDaoImpl"/>
    <bean id="userService" class="com.yll.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDaoOracle"/>
    </bean>

</beans>